[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=CarBudget
Icon=org.condo4.harbour.carbudget
Exec=/usr/bin/org.condo4.harbour.carbudget

[X-Application]
Permissions=
OrganizationName=org.condo4
ApplicationName=harbour.carbudget
